<html>
<head>
    <title>@Model.Title</title>
</head>
    <body>
        <h1>This is the second layout</h1>
        <h1>@Model.Page.Title</h1>
        <h2>@Model.Page.Description</h2>
        <h2>@Model.Page.Location</h2>
    
        @Model.Page.Content
    
        @*    @Model.Post.NextPost.Title
    @Model.Post.PreviousPost.Title
*@
    </body>
</html>
